*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

.square{

    border: 1px solid black;
    background-color: bisque;
}

.safe{
    background-color: lightblue;
}

.boom{
    background-image: url(../img/bomb.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
}
/* common */
.center{
    justify-content: center;
}

.jc-end{
    justify-content: flex-end;
}