*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkgrey;
}

/* common */
center{
    align-items: center;
    justify-content: center;
}

.jc-end{
    justify-content: flex-end;
}